# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
site-frontend/node_modules
site-frontend/.pnp
site-frontend/.pnp.js

# testing
site-frontend/coverage

# production
site-frontend/build

# misc
site-frontend/.DS_Store
site-frontend/.env.local
site-frontend/.env.development.local
site-frontend/.env.test.local
site-frontend/.env.production.local

site-frontend/npm-debug.log*
site-frontend/yarn-debug.log*
site-frontend/yarn-error.log*
